// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.card-index {
    padding: 2rem;
    margin: 1rem;
    background-color: #8dbedf;
    font-size: 1.1rem;

    li {
        background-color: #8dbedf;
    }
}

.single-project {
    border: solid 1px #06478a;
    li {
        border: solid 1px #06478a;
        font-size: 1.4rem;
    }
}
